<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
      <li>
        <%= value %>
      </li>
    </ul>
  </div>
<% end %>
<h1>Produtos !</h1>

<table>
  <thead>

  </thead>

  <tbody>

  </tbody>
</table>

<br>

