  .os-incriveis{
    width: 263px;
    height: 463px;
  }
  .menu{
    background-color: black;
    color: futura;
    display: block;
    color: #b22222 !important;

  }
  IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  .navbar1{
  color: #B22222 !important;
  font-family: futura;
  }

  .navbar1:hover{
    background-color: black;
    color: #b22222;
  }


  .fonte-titulo{
    color: black;
    font-style: normal;
    font-family: futura;
    margin-top: 100px;
    font-size: 40px;
  }
  .fonte-h3{
  color: #696969;
  }

  .fonte-label{
    color: #B22222;
    font-size: 18px;
    font-weight: bold;
    font-family: futura;
  }
  .checkbox-pequena{
    color: #B22222;
    font-size: 13px;
    font-family: futura;
    font-weight: bold;

  }


  .borda-caixa-texto{
  outline: 0;
  border-width: 0 0 1px;
  border-color: #b22222;
  }

  .caixa-de-texto{
  height: 45px;
  width: 300px;
  font-size: 15px;
  font-family: futura;
  font-size: : 100px;
  }


  .container-login{
    width: 500px;
  }
  .margem{
    grid-column: left;
  }

.botao{
  border-radius: 25px;
  font-weight: bold;
  width: 150px;
  height: 40px;
  font-family: futura;
  font-size: 13px;
  background-color: #b22222;
  color: #fcdd4b;


  }

  .botao:hover {
    background-color: #c42727;
    border-color: #B22222;
    color: #ff970f;
  }



.formulario {
  box-align: center;
}
.link{
  color: #B22222 !important;
  text-decoration: underline;

}
.link:hover{
  background-color: white;
  color: #b22222;
}
