 .container-login1{
   opacity: 0.9;
   width: 400px;
   height: 450px;
 }
 .container-cad{
  width: 900px;
  height: 1500px;
}
img.cadastrar{
  width: 100x;
  height: 80px;
  
}

img.you{
  width: 100x;
  height: 80px;
}
  .menu{
    background-color: rgb(132, 46, 176);
    font-family: futura;
    display: block;

  }
  img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  img.alerta{
    position: fixed;
    top: 50%;
    right: 0;
   
   }
  .navbar1{
  color: white!important;
  font-family: futura;
  }

  .navbar1:hover{
    background-color: rgb(132, 46, 176);
  }

  .actions1{
    border-radius: 25px;
    font-weight: bold;
    width: 130px;
    height: 40px;
    font-family: futura;
    font-size: 13px;
    background-color: #ff9c2a;
    color: white;
  }

  .fonte-titulo-cadastro{
    color: #363636;
    font-style: normal;
    font-family: futura;
    font-size: 15px;
  }

  .fonte-titulo{
    color: #1C1C1C;
    font-style: normal;
    font-family: futura;
    margin-top: 100px;
    font-size: 40px;
  }
  .fonte-h3{
  font-family: futura;
  color: #696969;
  }

  .fonte-label{
    color: rgb(132, 46, 176);
    font-size: 16px;
    font-weight: bold;
    font-family: futura;
  }
  .checkbox-pequena{
    color: rgb(132, 46, 176);
    font-size: 12px;
    font-family: futura;
    font-weight: bold;
  }

  .borda-caixa-texto{
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgb(132, 46, 176);
  }

  .caixa-de-texto-login{
  height: 45px;
  width: 300px;
  color: #ff9c2a;
  font-size: 16px;
  font-family: Arial;
  
  }
  .place{

  }

select {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: rgb(132, 46, 176);
  font-size: 14px;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgb(132, 46, 176);
  background-color: rgb(248, 248, 248);
  cursor: default;
  margin: 0em;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(166, 166, 166);
 
}

.modal{
  color: rgb(132, 46, 176);
  font-family: futura;

}

  .caixa-de-texto-cad{
    height: 45px;
    width: 300px;
    font-size: 16px;
    font-family: arial;
    color: #ff9c2a;
    background-color: #f7f7f7;
    
    }

  
  .margem{
    grid-column: left;
  }

.botao{
  border-radius: 25px;
  font-weight: bold;
  width: 130px;
  height: 40px;
  font-family: futura;
  font-size: 13px;
  background-color: #ff9c2a;
  color: white;


  }

  .botao:hover {
    background-color: #ffaf0f;
    border-color: #ffaf0f;
    color: white;
  }

.link{
  color: rgb(132, 46, 176) !important;
  text-decoration: underline;

}
.link:hover{
  background-color: white;
  color: rgb(132, 46, 176);
}


#lanaerror_explanation {
  color: rgb(132, 46, 176);
}
