  .os-incriveis{
    width: 263px;
    height: 463px;
  }

  

  .fonte-titulo{
    color: black;
    font-style: normal;
    font-family: futura;
    font-size: 40px;
  }
  .fonte-h3{
  color: #696969;
  }

  .fonte-label{
    height: 0px;
    color: #696969;
    font-size: 15px;
    font-weight: bold;
    font-family: arial;
  }

  .menu{
    background-color: #B22222;;
    color: black;
    font-family: arial;
  }
  .navbar1{
  color: black;
  }

  .navbar1:hover{
    background-color: black;
    color: #B22222;;
  }

  .borda-caixa-texto{
  outline: 0;
  border-width: 0 0 1px;
  border-color: #696969;
  }

  .caixa-de-texto{
  height: 45px;
  width: 300px;
  font-family: arial;
  font-size: : 100px;
  }


  .container-login{
    width: 500px;
  }
  .margem{
    grid-column: left;
  }

.botao{
  border-radius: 25px;
  font-weight: bold;
  width: 150px;
  height: 40px;
  font-family: arial;
  font-size: 13px;
  background-color: #ff8800;
  color: black;


  }

  .botao:hover {
    background-color: #c42727;
    border-color: #B22222;
    color: #ff970f;
  }



.formulario {
  box-align: center;
}
.link{
  color: #624197;
  text-decoration: underline;

}
.link:hover{
  background-color: white;
  color: #ff970f;
}
