<p>Olá, <%= @resource.fullname %>!</p>

<p>Hey Youser, aqui está seu link para mudar sua senha :) </p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, ignore este e-mail.</p>
<p>Lembre-se que sua senha não será alterada até você acessar o link acima e criar um novo.</p>

